---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/*start of traditional CSS*/
main.page-content{
  background: #d7cec7;
}

ul.cv_list{
    list-style-type: none;
    color: white;
}

/*tiger striping*/
li.cv_item {
    background: #565656;
    border-radius: 25px;
    padding:20px;
}
li.cv_item:nth-child(odd){
    background: #c09f80;
}

li.cv_item > div.date {
  font-style: italic;
}

li.cv_item > span.title {
  font-weight: bold;
}

a.place_url{
  text-decoration: underline;
  color: white;
}

li.tech{
  display: inline;
  //border-style: dotted;
  padding: 2px;
  background: #d7cec7;
  color:#76323f;
}
