---
layout: default
---
<div class="experience">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  {{content}}
  <ul class="experience">
  {% for item in site.data.experience %}
    <li class="work_item">
      <div class="date">{{item.from}} - {{item.to}}</div>
      <div class="position">
        {{item.role}} at <span class="place">{{item.place}}</span>
      </div>
      <div class="description">{{item.desc}}</div>
    </li>
  {% endfor %}
  </ul>
</div>
