---
layout: default
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">Welcome to Gustavo Puma's personal site</h1>
  </header>
  <p>
    Hello, my name is Gustavo Puma and I'm a Software Engineer, currently working in the field of Data Engineering & Data Science.
    I am based out of Linz, Austria.
    If you're a potential employer, please check the menu above for information about my work experience, education and projects.
    If you're on mobile, click the hamburger icon to see the menu.
  </p>
  <p>
    Apart from programming, I'm very much into films, history, philosophy and anthropology. I'm mildly interested in too many other topics :)
  </p>
  <p>
    I'm fluent in both Spanish and English (and working very hard towards German!). I lived in Australia for almost 2 years, while studying a Masters Degree,
    and had some of the best experiences of my life over there. The picture below was actually taken at the Three Sisters in Sydney. Great place!
  </p>
  <p>
    I am now slowly but steadily discovering Austria (not a typo) and the rest of Europe.
  </p>
  <p>
    Currently, this website is only working as my online CV.
  </p>
  <div class="portrait">
    <img src="/assets/img/me_sydney.jpg" />
  </div>
</div>
